.box {
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
}

.box-on {
    background-color: red; /* !important; */
}

.box-on:hover {
    background-color: lightpink;
}

.box-off {
    background-color: blue; /* !important; */
}

.box-off:hover {
    background-color: cyan;
}

.container {
    width: 500px;   /* (margin left + width + margin right) * 10 boxes */
    height: 500px;
    background-color: lightgray;
}
