button {
    border: 2px red solid;
    background: black;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
}

#button-1{
    border: 2px green dotted;
}

button:hover{
    background: red;
}

.demo {
    border: 2px yellow dashed;
}