<html>
<head>
    <title>Lesson 4</title>

    <script type="text/javascript" src="lib/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>

    <script type="text/javascript" src="lib/spin.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/models/yql.js"></script>
    <script type="text/javascript" src="js/models/panoramio.js"></script>
    <script type="text/javascript" src="js/models/weather.js"></script>
    <script type="text/javascript" src="js/models/place.js"></script>
    <script type="text/javascript" src="js/views/weather-views.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body class="backgroundImage">
<div class="wrapper">
    <div class="weather-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6 current-container">
                <div class="weather-panel current"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 pull-right forecast-container">
                <div class="weather-panel forecast"></div>
            </div>
        </div>
    </div>
</div>

<!-- CURRENT (WEATHER) TEMPLATE -->

<script type="text/template" id="CurrentTemplate">
    <div class="row">
        <div class="weather-date pull-left">
            <p><%= current.date %></p>
            <p class="weather-week-day"><%= current.day %></p>
        </div>
        <div class="pull-right">
            <p>high</p>
            <p class="weather-temperature"><%= current.high %>&deg;</p>
        </div>
        <div class="pull-right">
            <p>low</p>
            <p class="weather-temperature"><%= current.low %>&deg;&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="weather-image pull-left"
             style="background-image: url(<%= current.icon %>);">
            <p class="weather-text"><%= current.text %></p>
        </div>
        <div class="weather-current-temperature pull-right">
            <%= temperature %>&deg;
        </div>
    </div>
</script>

<!-- FORECAST TEMPLATE -->

<script type="text/template" id="ForecastTemplate">
    /* TODO Assignment */
</script>


</body>
</html>