body {
    background-color: gray;
    margin: 0;
    min-width: 320px !important;
}

.backgroundImage {
    background-color: gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* ***************************************************************************************** */
/* WEATHER CONTAINER */

.weather-container {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.weather-panel p {
    margin-bottom: 0px;
    font-size: 12px;
}

div.weather-panel {
    display: none;
    margin-bottom: 35px;
}

/* CURRENT */

.current-container {
    padding: 0px;
}

.current {
    border: 1px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.75);
    margin-right: 15px;
    padding: 10px 15px;
    overflow: hidden;
}

.weather-panel.current .weather-week-day,
.weather-panel.current .weather-temperature {
    font-size: 40px;
    line-height: 40px;
}

.weather-panel.current .row {
    margin: 0;
}

.weather-panel.current .weather-image {
    background-repeat: no-repeat;
    background-size: 250px 180px;
    background-position: center center;
    width: 250px;
    height: 150px;
    margin-top: 10px;
}

.weather-panel.current .weather-text {
    margin-top: 125px;
    text-align: center;
    line-height: 12px;
}

.weather-panel.current .weather-current-temperature {
    font-size: 140px;
    line-height: 160px;
    vertical-align: middle;
}

/* FORECAST */

/* TODO Assignment */

