.box {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
}

.box-on {
    background-color: red; /* !important; */
}

.box-on:hover {
    background-color: lightpink;
}

.box-off {
    background-color: blue; /* !important; */
}

.box-off:hover {
    background-color: cyan;
}

.container {
    width: 480px;   /* (margin left + width + margin right) * 10 boxes */
    height: 480px;
    background-color: lightgray;
}



.box-on-red {
    background-color: red;
}

.box-on-green {
    background-color: green;
}

.box-on-yellow {
    background-color: yellow;
}
